<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" type="text/css" href="{{asset('bootstrap-3.3.7-dist/css/bootstrap.css')}}" />

        <link rel="stylesheet" type="text/css" href="{{ asset('bootstrap-3.3.7-dist/css/main.css') }}"  />
        <link rel="stylesheet" type="text/css" href="{{ asset('bootstrap-3.3.7-dist/css/util.css') }}"  />

        <script type="text/javascript" src="{{ asset('jquery-3.3.1.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bootstrap-3.3.7-dist/js/main.js') }}"></script>
    {% endblock %}

    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

    <style>

    </style>
</head>

<body>

</body>
</html>

